<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{> nav}}
  <main>
    <h2>Comment Feed</h2>
    {{#if user.isLoggedIn}}
      <p><a href="/comment/new">Write a new comment</a></p>
    {{else}}
      <p><a href="/login">Login</a> to post a comment.</p>
    {{/if}}

    {{#each comments}}
      <div class="comment">
        <div class="comment-header">
          {{#if profile_avatar_url}}
            <img src="{{profile_avatar_url}}" alt="{{display_name}}'s avatar" class="comment-avatar">
          {{else}}
            <div class="comment-avatar-placeholder">{{substring display_name 0 1}}</div>
          {{/if}}
          <div class="comment-meta">
            <strong class="comment-author">{{display_name}}</strong>
            <small class="comment-date">{{formatDate created_at}}</small>
            {{#if edited}}
              <small class="comment-edited">(edited {{formatDate updated_at}})</small>
            {{/if}}
          </div>
          
          {{!-- Show edit/delete options only for comment owner --}}
          {{#if ../user.isLoggedIn}}
            {{#if (eq author_id ../user.userId)}}
              <div class="comment-actions">
                <a href="/comment/{{id}}/edit" class="comment-action-link">Edit</a>
              </div>
            {{/if}}
          {{/if}}
        </div>
        
        <div class="comment-content">
          <p>{{content}}</p>
        </div>
      </div>
      <hr>
    {{else}}
      <p>No comments yet. Be the first!</p>
    {{/each}}
  </main>
  {{> footer}}
</body>
</html>
